<template>
  <div class="home">
    <createEvent />
    <sidebar />
    <accountInformation />
    <Search msg="Welcome to Your Vue.js App"/>
    <pagination/>
  </div>
</template>

<script>
// @ is an alias to /src
import Search from '@/components/Search.vue'
import pagination from '@/components/pagination.vue'
import accountInformation from '@/components/accountInformation.vue'
import sidebar from '@/components/sidebar.vue'
import createEvent from '@/components/createEvent.vue'

export default {
  name: 'home',
  components: {
    Search,
    pagination,
    accountInformation,
    sidebar,
    createEvent
  }
}
</script>
