<template>
  <v-app>
    <div class="container">
        <h2>Account Information </h2>
        <h3 id="demo">Account email address</h3>
        <v-btn outline color="blue">Change</v-btn><hr>
        <h3 id="demo">Profile Photo <br>
        ** code <br> for<br> profile<br> photo**</h3><hr><br>
        <h3 id="demo1">Contact Information </h3>
        <v-form>
            <v-container id="dropdown-example">
                <v-layout row wrap>
                    <v-flex xs12 sm5 offset-xs2>
                        <v-overflow-btn
                            :items="dropdown_prefix"
                            label="PREFIX"
                            target="#dropdown-example"
                        ></v-overflow-btn>
                    </v-flex>
                    <v-flex xs4 offset-xs2>
                    <v-text-field
                        label="FIRST NAME"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs4>
                    <v-text-field
                        label="LAST NAME"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs7 sm5 offset-xs2>
                    <v-text-field
                        label="SUFFIX"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs4 offset-xs2>
                        <p id="demo"></p>
                    <v-text-field
                        label="HOME PHONE"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs4>
                    <v-text-field
                        label="CELL PHONE"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs4 offset-xs2>
                    <v-text-field
                        label="JOB TITLE"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs4>
                    <v-text-field
                        label="COMPANY/ORGANIZATION"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs4 offset-xs2>
                    <v-text-field
                        label="WEBSITE"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs4>
                    <v-text-field
                        label="BLOG"
                        single-line
                    ></v-text-field>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-form><hr><br>
        <h3 id="demo2">Home Address </h3>
        <v-form>
            <v-container  id="dropdown-example2">
                <v-layout row wrap>
                    <v-flex xs8 offset-xs2>
                    <v-text-field
                        label="ADDRESS"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs8 offset-xs2>
                    <v-text-field
                        label="ADDRESS 2"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs8 offset-xs2>
                    <v-text-field
                        label="CITY"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs8 offset-xs2>
                        <v-overflow-btn
                            :items="dropdown_country"
                            label="Select a Country"
                            target="#dropdown-example2"
                        ></v-overflow-btn>
                    </v-flex>
                    <v-flex xs4 offset-xs2>
                    <v-text-field
                        label="ZIP/POSTAL CODE"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex sm4>
                        <v-overflow-btn
                            :items="dropdown_state"
                            label="Select a State"
                            target="#dropdown-example2"
                        ></v-overflow-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-form><hr><br>
        <h3 id="demo3">Billing Address</h3>
        <v-form>
            <v-container id="dropdown-example2">
                <v-layout row wrap>
                    <v-flex xs8 offset-xs2>
                    <v-text-field
                        label="ADDRESS"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs8 offset-xs2>
                    <v-text-field
                        label="ADDRESS 2"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs8 offset-xs2>
                    <v-text-field
                        label="CITY"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs8 offset-xs2>
                        <v-overflow-btn
                            :items="dropdown_country"
                            label="Select a Country"
                            target="#dropdown-example2"
                        ></v-overflow-btn>
                    </v-flex>
                    <v-flex xs4 offset-xs2>
                    <v-text-field
                        label="ZIP/POSTAL CODE"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex sm4>
                        <v-overflow-btn
                            :items="dropdown_state"
                            label="Select a State"
                            target="#dropdown-example2"
                        ></v-overflow-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-form><hr><br>
        <h3 id="demo4">Shipping Address</h3>
        <v-form>
            <v-container id="dropdown-example2">
                <v-layout row wrap>
                    <v-flex xs8 offset-xs2>
                    <v-text-field
                        label="ADDRESS"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs8 offset-xs2>
                    <v-text-field
                        label="ADDRESS 2"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs8 offset-xs2>
                    <v-text-field
                        label="CITY"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs8 offset-xs2>
                        <v-overflow-btn
                            :items="dropdown_country"
                            label="Select a Country"
                            target="#dropdown-example2"
                        ></v-overflow-btn>
                    </v-flex>
                    <v-flex xs4 offset-xs2>
                    <v-text-field
                        label="ZIP/POSTAL CODE"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex sm4>
                        <v-overflow-btn
                            :items="dropdown_state"
                            label="Select a State"
                            target="#dropdown-example2"
                        ></v-overflow-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-form><hr><br>
        <h3 id="demo2">Work Address</h3>
        <v-form>
            <v-container  id="dropdown-example2">
                <v-layout row wrap>
                    <v-flex xs8 offset-xs2>
                    <v-text-field
                        label="ADDRESS"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs8 offset-xs2>
                    <v-text-field
                        label="ADDRESS 2"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs8 offset-xs2>
                    <v-text-field
                        label="CITY"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs8 offset-xs2>
                        <v-overflow-btn
                            :items="dropdown_country"
                            label="Select a Country"
                            target="#dropdown-example2"
                        ></v-overflow-btn>
                    </v-flex>
                    <v-flex xs4 offset-xs2>
                    <v-text-field
                        label="ZIP/POSTAL CODE"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex sm4>
                        <v-overflow-btn
                            :items="dropdown_state"
                            label="Select a State"
                            target="#dropdown-example2"
                        ></v-overflow-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-form><hr><br>
            <v-btn color="blue">Save</v-btn>
    </div>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      dropdown_prefix: ['Mr.', 'Mrs.', 'Ms.', 'Miss', 'Mx.', 'Dr.', 'Prof.', 'Rev.'],
      dropdown_state: ['Alaska', 'California', 'Georgia', 'Kentucky', 'Michigan', 'Mississippi', 'New Jersey', 'Pennsylvania'],
      dropdown_country: ['Afghanistan', 'Argentina', 'Brazil', 'Bulgaria', 'Canada', 'Chile', 'China', 'India', 'Mexico']
    }
  }
}
</script>

<style>
#demo {
    text-align: left;
    position: relative;
}
#demo1 {
    padding-right: 580px;
    position: relative;
}
#demo2 {
    padding-right: 620px;
    position: relative;
}
#demo3 {
    padding-right: 610px;
    position: relative;
}
#demo4 {
    padding-right: 600px;
    position: relative;
}
</style>
