<template>
    <div>
        <h1>CREATE EVENT</h1>
        <div class="container">
            <h2>Event Details</h2><hr>
        </div>
        <v-form>
            <v-container>
                <v-layout row wrap>
                    <v-flex xs9 sm8>
                    <v-text-field
                        label="EVENT TITLE *"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs9 sm8>
                    <v-text-field
                        label="LOCATION"
                        single-line
                    ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm2 md5>
                        <v-menu
                            ref="menu"
                            :close-on-content-click="false"
                            v-model="menu"
                            :nudge-right="40"
                            :return-value.sync="date"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                            >
                            <v-text-field
                            slot="activator"
                            hint="YYYY/MM/DD format"
                            v-model="date"
                            label="Start Date"
                            prepend-icon="event"
                            readonly
                            ></v-text-field>
                            <v-date-picker v-model="date" @input="$refs.menu.save(date)" color="blue"></v-date-picker>
                        </v-menu> 
                        <v-menu
                            ref="menu1"
                            :close-on-content-click="false"
                            v-model="menu1"
                            :nudge-right="40"
                            :return-value.sync="time"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                            >
                            <v-text-field
                            slot="activator"
                            v-model="time"
                            label="Start Time"
                            prepend-icon="access_time"
                            readonly
                            ></v-text-field>
                            <v-time-picker
                            v-if="menu1"
                            color="blue"
                            v-model="time"
                            @change="$refs.menu1.save(time)"
                            ></v-time-picker>
                        </v-menu>
                    </v-flex>
                    <v-flex xs12 sm2 md5>
                        <v-menu
                            ref="menu2"
                            :close-on-content-click="false"
                            v-model="menu2"
                            :nudge-right="40"
                            :return-value.sync="date1"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                            >
                            <v-text-field
                            slot="activator"
                            hint="YYYY/MM/DD format"
                            v-model="date1"
                            label="End Date"
                            prepend-icon="event"
                            readonly
                            ></v-text-field>
                            <v-date-picker v-model="date1" @input="$refs.menu2.save(date1)" color="blue"></v-date-picker>
                        </v-menu>
                        <v-menu
                            ref="menu3"
                            :close-on-content-click="false"
                            v-model="menu3"
                            :nudge-right="40"
                            :return-value.sync="time1"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                            >
                            <v-text-field
                            slot="activator"
                            v-model="time1"
                            label="End Time"
                            prepend-icon="access_time"
                            readonly
                            ></v-text-field>
                            <v-time-picker
                            v-if="menu3"
                            color="blue"
                            v-model="time1"
                            @change="$refs.menu3.save(time1)"
                            ></v-time-picker>
                        </v-menu>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-form><hr><hr>
        <h2>Event Image</h2><br>
        <h3>** code <br> for <br> event image <br> upload **</h3><br><hr><hr>
        <h2 id="demo">Event Description</h2>
        <v-container >
            <v-layout row wrap>
            <v-flex xs8>
                <v-textarea
                box
                name="event description"
                ></v-textarea>
            </v-flex>
            </v-layout>
        </v-container>
        <p id="demo1"><a href="#">Add FAQs</a></p>
        <h2 id="demo">ORGANIZER NAME</h2>
        <span id="demo2">
            <a href="#">Edit this organizer </a>
            &nbsp;&nbsp;
            <a href="#"> + Add new </a>
        </span><br><br>
        <div id="demo1">Unnamed organizer</div>
        <div class="container">
        <v-checkbox
            v-model="checkbox"
            label="Link to Facebook and Twitter"
            >
        </v-checkbox>
        </div>
        <hr>
        <h1 id="demo">Create Tickets</h1><br><br><br>
        <p id="demo3">What type of ticket would you like to start with?</p>
        <div class="text-xs-center">
            <v-btn outline color="indigo">
                <v-icon right dark>add_circle</v-icon>
                FREE TICKET
            </v-btn>
            <v-btn outline color="indigo">
                <v-icon right dark>add_circle</v-icon>
                PAID TICKET
            </v-btn>
            <v-btn outline color="indigo">
                <v-icon right dark>add_circle</v-icon>
                DONATION
            </v-btn>
        </div>
        <hr>
        <h1 id="demo">Additional Settings</h1>
        <div class="container">
          <h2 id="demo2">LISTING PRIVACY</h2>
            <v-radio-group v-model="radios" :mandatory="false">
                <v-radio label="Public page: Discoverable by anyone on Eventbrite, our distribution partners, and search engines." value="radio-1"></v-radio>
                <v-radio label="Private page: Accessible only by people you specify." value="radio-2"></v-radio>
            </v-radio-group>
        </div>
        <div class="container">
          <h2 id="demo2">EVENT TYPE</h2>
          <v-container id="dropdown-example" grid-list-xl>
            <v-layout row wrap>
                <v-flex xs12 sm9>
                    <v-overflow-btn
                    :items="dropdown_event"
                    label="Select the type of event"
                    segmented
                    ></v-overflow-btn>
                </v-flex>
            </v-layout>
          </v-container>
        </div>
        <div class="container">
          <h2 id="demo2">EVENT TOPIC</h2>
          <v-container id="dropdown-example" grid-list-xl>
            <v-layout row wrap>
                <v-flex xs12 sm4>
                    <v-overflow-btn
                    :items="dropdown_topic"
                    label="Select a topic"
                    segmented
                    ></v-overflow-btn>
                </v-flex>
            </v-layout>
          </v-container>
        </div>
        <div class="container">
        <h2 id="demo4">REMAINING TICKETS</h2>
        <v-checkbox
            v-model="checkbox"
            label="Show the number of remaining tickets on your event listing"
            >
        </v-checkbox>
        </div>
        <hr>
        <br><br>    
        <div class="container" id="job">
            <b>Nice job!  You're almost done.</b><br>
            <v-btn outline color="blue">
                SAVE
            </v-btn>
            <v-btn color="success">MAKE YOUR EVENT LIVE</v-btn>
        </div>
        <hr><hr>

    </div>
</template>

<script>
export default {
  data: () => ({
    date: null,
    date1: null,
    time: null,
    time1: null,
    menu: false,
    menu1: false,
    menu2: false,
    menu3: false,
    dropdown_event: ['Appearance or Signing', 'Attraction', 'Camp, Trip, or Retreat', 'Class, Training, or Workshop', 'Concert or Performance', 'Conference', 'Convention', 'Dinner or Gala'],
    dropdown_topic:['Auto, Boat & Air', 'Business & Professional', 'Charity & Causes', 'Community & Culture'],
  })
}
</script>

<style>
#demo {
    text-align: left;
    padding-left: 275px
}
#demo1 {
    text-align: left;
    padding-left: 275px;
    font-size: 22px;
}
#demo2 {
    text-align: left;
    padding-right: 935px;
}
#demo3 {
    font-size: 22px;
    padding-left: 600px;
}
#demo4 {
    padding-right: 920px;
}
#job {
    font-size: 40px;
}
</style>