<template>
  <v-app>
    <v-layout>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-card-title primary-title>
            <h1 class="homepage-header">Find your next experience</h1>
            <div>
              <v-form>
                <v-container id="dropdown-example">
                  <v-layout row wrap>
                    <v-flex xs12 sm3>
                      <v-text-field
                        id="input"
                        label="Search events"
                        :search="search"
                        height="3px"
                        single-line
                        solo
                        v-on:keyup="myFunction()"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm3>
                      <v-text-field
                        label="City or Location"
                        single-line
                        solo
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm3>
                    <v-overflow-btn
                      :items="dropdown_font"
                      label="All Dates"
                      target="#dropdown-example"
                    ></v-overflow-btn>
                    </v-flex>
                    <v-flex xs12 sm3>
                      <v-btn
                        color="orange"
                        large
                        @click="searchi"
                        >Search
                      </v-btn>
                    </v-flex>
                    <div class="wrapper">
                    <div class="card" v-for="post in filteredPlaces" :key="post.id">
                        <a v-bind:href="post.link" target="_blank">
                          <small>posted by: {{ post.author }}</small>
                          {{ post.title }}
                        </a>
                      </div>
                    </div>
                      <!-- <div>
                      <li v-for="place in places" v-bind:key = "place.name">{{place.name}}</li>
                      </div> -->
                  </v-layout>
                </v-container>
              </v-form>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </v-app>
</template>

<script>
class Post {
  constructor (title, link, author, img) {
    this.title = title
    this.link = link
    this.author = author
    this.img = img
  }
}

export default {
  name: 'Search',
  data: function () {
    return {
      search: '',
      places: [new Post(
        'Vue.js',
        'https://vuejs.org/',
        'Chris',
        'https://vuejs.org//images/logo.png'
      ), new Post(
        'Vue.js',
        'https://vuejs.org/',
        'Chris',
        'https://vuejs.org//images/logo.png'
      ),
      new Post(
        'React.js',
        'https://facebook.github.io/react/',
        'Tim',
        'https://daynin.github.io/clojurescript-presentation/img/react-logo.png'
      ),
      new Post(
        'Angular.js',
        'https://angularjs.org/',
        'Sam',
        'https://angularjs.org/img/ng-logo.png'
      ),
      new Post(
        'Ember.js',
        'http://emberjs.com/',
        'Rachel',
        'http://www.gravatar.com/avatar/0cf15665a9146ba852bf042b0652780a?s=200'
      ),
      new Post(
        'Meteor.js',
        'https://www.meteor.com/',
        'Chris',
        'http://hacktivist.in/introduction-to-nodejs-mongodb-meteor/img/meteor.png'
      ),
      new Post(
        'Aurelia',
        'http://aurelia.io/',
        'Tim',
        'https://cdn.auth0.com/blog/aurelia-logo.png'
      ),
      new Post(
        'Node.js',
        'https://nodejs.org/en/',
        'A. A. Ron',
        'https://code-maven.com/img/node.png'
      ),
      new Post(
        'Pusher',
        'https://pusher.com/',
        'Alex',
        'https://avatars1.githubusercontent.com/u/739550?v=3&s=400'
      ),
      new Post(
        'Feathers.js',
        'http://feathersjs.com/',
        'Chuck',
        'https://cdn.worldvectorlogo.com/logos/feathersjs.svg'
      )
      ],
      dropdown_font: ['All Dates', 'Today', 'Tomorrow', 'This Week', 'This Weekend', 'Next Week', 'Next Month']
    }
  },

  computed:
    {
      filteredPlaces () {
        return this.places.filter(post => {
          console.log('andar ' + post.title.toLowerCase().includes(this.search.toLowerCase()))
          return post.title.toLowerCase().includes(this.search.toLowerCase())
        })
      }
    },
  methods: {
    searchi () {
      var mylist = this.places.filter(post => {
        return post.title.toLowerCase().includes(this.search.toLowerCase())
      })
      console.log(mylist)
    },
    myFunction () {
      console.log(this.search)
      // stringB.indexOf( stringA ) > -1
      // var mylist = this.places.filter(post => {
      // return post.title.toLowerCase().includes(this.search.toLowerCase())
      // })
      var x = document.getElementById('input')
      var str = 'abcdef'
      if (str.indexOf('abcd') > -1) {
        console.log('true')
      }
      console.log(x.value)
      //    this.places.filter( )
      console.log('in my function')
    }
  }
}
</script>

<style>
.homepage-header {
  color: darkorange
}
</style>
