<template>
    <div>
        <v-navigation-drawer
        stateless
        value="true"
        >
            <v-list>
            <v-list-group>
                <v-list-tile slot="activator">
                <v-list-tile-title>Account</v-list-tile-title>
                </v-list-tile>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-content>Contact Info</v-list-tile-content>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Password</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Credit / Debit Cards</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Email Preferences</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Social Settings</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Affliate Program</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Close Account</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
            </v-list-group>
            <v-list-group>
                <v-list-tile slot="activator">
                <v-list-tile-title>Organizer</v-list-tile-title>
                </v-list-tile>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Package</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Payout Methods</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Payout Summary</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Charges & Credits</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Invoices</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Taxpayers Information</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Unused Venues & Organizers</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Extensions</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Multi-User Access</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
            </v-list-group>
            <v-list-group>
                <v-list-tile slot="activator">
                <v-list-tile-title>Developer Links</v-list-tile-title>
                </v-list-tile>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>App Management</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
                <v-list-group
                sub-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Webhooks</v-list-tile-title>
                </v-list-tile>
                </v-list-group>
            </v-list-group>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
export default {
  data: () => ({
    admins: [
      ['Management', 'people_outline'],
      ['Settings', 'settings']
    ],
    cruds: [
      ['Create', 'add'],
      ['Read', 'insert_drive_file'],
      ['Update', 'update'],
      ['Delete', 'delete']
    ]
  })
}
</script>
